.C1 {
	text-align: center;
}

.C2 {
	text-align: center;
}

.C3 {
	text-align: center;
}

table {
	border-style:outset;
	background-color: lightblue ; 
	padding:10px;
	border-color: yellow;
	border width: 1em;
	margin: 15px;
}